body{
    margin: auto;
    width: 100%;
}

header{
    height: 90px;
    width: 100%;
    background-color: blueviolet;
    font-size: 40px;
    padding-top: 2%;
    margin-bottom: 2%;
}

h1{
    font-size: 50px;
}

h3{
    font-size: 30px;
}

h5{
    font-size: 20px;
}

button{
    background-color: blueviolet;
    font-size: 20px;
    border-radius: 10px;
    width: 200px;
    color: white;
}

table{
    border-collapse: collapse;
    width: 100%;
}
  
th{
    float: left;
}