body {
    margin: 0% auto;
    font-weight: bold;
}

.formulario {
    font-weight: bold;
}

.buttons {
    font-weight: bold;
}

.content {
    font-weight: bold;
}

#tbody {
    font-weight: bold;
}

#nomeproduto {
    font-weight: bold;
}

#precoproduto {
    font-weight: bold;
}