p {
    font-size: 20px;
}

li {
    list-style-type: none;
}

body {
    margin: 0 auto;
    max-width: 1200%;
    width: 90%;
    background-color: rgb(12, 0, 117);
    /*background-image:url(../img/);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 2000px;*/
}

header {
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 250px;
}

header img {
    margin: auto;
    /*display: block;*/
    width: 250px;
    padding-left: 25px;
}

.busca {
    position: relative;
    float: right;
    background-color: rgba(255, 255, 255, 0);
    margin: 5px;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    width: 250px;
    color: rgb(0, 0, 0);
    padding-left: 50px;
    padding-top: 20px;
}

.busca button {
    background-image: url(../img/busca.png);
    background-repeat: no-repeat;
    border: none;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    
}
.busca input[type=search] {
    width: 220px;
}


#principal {
    text-align: center;
    color: rgb(0, 0, 0);
}

.sobre {
    text-align: center;
    background-color: rgb(194, 135, 59);
    padding: 15px;
    border: 5px solid rgb(200, 200, 200);
}

.sobre img {
    height: 350px;
}

.menu_opcoes {
    position: absolute;
    bottom: 50px;
    right: 0;
    margin-right: 100px;
    margin-bottom: -20px;
}

.menu_opcoes ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    overflow: hidden;
    /*background-color: rgb(100, 100, 100);*/
    margin-bottom: -50px;
}

.menu_opcoes ul li {
    display: inline;
    margin-left: 5px;
    /*border-right: 5px solid rgb(200, 200, 200);*/
}

/*.menu_opcoes li:last-child {
    border-right: none;
}*/

.menu_opcoes a {
    color: rgb(0, 0, 0);
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}

.menu_opcoes li a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px 5px black;
}
/*inicio corpo do site*/
    .corpo {
        position: relative;
        width: 100%;
        height: 800px;
        background-color: rgb(255, 255, 255);
    }

    .menu {
        position: relative;
        float: left;
        width: 25%;
        height: 300px;
        background-color: rgb(148, 96, 0);
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 10px;
        /*border-radius: 15px;*/
        box-shadow: 5px 5px 5px black;
        /*transform: rotate(-5deg);*/
        /*margin-top: 5px;*/
        margin-bottom: 10px;
    }

    .menu li {
        background-color: rgba(255, 255, 255, 0);
        margin-bottom: 2px;
        padding: 5px 10px;
    }

    .menu h2 {
        text-align: center;
    }

    .destaque {
        position: relative;
        width: 74%;
        height: 300px;
        float: right;
        background-color: rgb(0, 0, 0);
    }

    .paineis {
        position: relative;
        width: 100%;
        height: 400px;
        background-color: rgb(11, 64, 68);
        float: left;
        margin-top: 30px;
    }

    .novidades {
        position: relative;
        float: left;
        width: 50%;
        background-color: aqua;
        height: 400px;
    }

    .mais_jogados {
        position: relative;
        float: right;
        width: 50%;
        height: 400px;
        background-color: brown;
    }

/*fim corpo do site*/
footer {
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
}

footer img {
    width: 10%; 
    padding-left: 25px;
}

footer p {
    text-align: center;
    font-size: 20px;
}

/*Organização das redes sociais*/

.social {
    position: relative;
    float: right;
    top: 12px;
    list-style: none;
    margin-right: 50px;
    margin-top: 25px;
}

.social img {
    background-repeat: no-repeat;
}

.social li {
    float: left;
    margin-left: 25px;
}

.social a {
    height: 50px;
    width: 50px;
    display:block;
    text-indent: -9999px;
}

.social a[href*="facebook.com"] {
    background-image: url(../img/face.jpg);
    border-radius: 10px;
}

.social a[href*="twitter.com"] {
    background-image: url(../img/twitter.png);
    border-radius: 10px;
}

.social a[href*="instagram.com"] {
    background-image: url(../img/instagram.png);
    border-radius: 10px;
}

/*Fim da organização das redes sociais*/

figure {
    padding: 10px;
    margin: 15px;
    background-color: rgba(200, 200, 200, 0);
    border: 10px solid rgba(100, 100, 100, 0);
    text-align: center;
}

.novidades img {
    width: 150px;
    height: 100px;
    margin: 10px;
    display:inline;
}

figcaption {
    margin-top: 50px;
    font-style: italic;
    text-align: center;
}

#cooperados {
    float: right;
    margin-right: auto;
    width: 50%;
}

.esquerda {
    text-align: center;
    margin: 10px;
}

.matriz {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
